@use "../../styles/colors" as *;

.meetupCard {
    width: 100%;
    max-width: 650px;
    border-radius: 6px;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 5px 8px #88888850;

    .meetupImageWrapper {
        width: 100%;
        .meetupImage {
            width: 100%;
            height: 400px;
            border-radius: 6px 6px 0 0;
            @media (max-width: 600px) {
                height: 100%;
            }
        }
    }

    .meetupDetails {
        text-align: center;

        .meetupTitle {
            text-transform: capitalize;
        }

        .meetupLocation {
            text-transform: capitalize;
            font-style: italic;
            font-weight: 600;
            font-size: 1.05rem;
        }
    }

    .detailsButton {
        background-color: white;
        color: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 4px;
        padding: 0.5rem 1.2rem;
        font-size: 1.1rem;
        margin-top: 2.2rem;
        cursor: pointer;
    }
}
